@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:wght@400;500&family=Sacramento&family=Satisfy&family=Playfair+Display:wght@400;500;600;700");

body {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.img {
  background-image: url("/bg-home.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* filter: brightness(50%); */
}

.coklat {
  color: #bd723d;
}

.playfair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* latin */
.dancing {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.satisfy {
  font-family: "Satisfy", cursive;
}

.sacramento {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
}
